<!DOCTYPE html>
<html>
  <head>
    <title>CookhouseStories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      <script id="bootstrap-current-user" type="text/javascript">

      	window.currentUser = <%= render("api/users/mount.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
    <script>

      window.peace = "<%= asset_path('peace.png')%>"
      window.hands = "<%= asset_path('hands.png')%>"
      window.searchicon = "<%= asset_path('searchicon.png')%>"
      window.hearticon = "<%= asset_path('heart.png')%>"
      window.heartyellow = "<%= asset_path('heart-yellow.png')%>"
      window.heartyellow2 = "<%= asset_path('heart-yellow2.png')%>"
      window.heartgrey = "<%= asset_path('heart-grey.png')%>"
      window.usericon = "<%= asset_path('user.png')%>"
      window.tomato = "<%= asset_path('tomato.png')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
